// bower:scss
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower
@font-face {
    font-family: "San Francisco";
    font-weight: normal;
    src: url("../fonts/System%20San%20Francisco%20Display%20Regular.ttf");
}

body {
    background: #fafafa;
    font-family: "San Francisco", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    color: #333;
    margin: 0;
}

p {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

$oddBg:#0D47A1; //#006599;
$evenBg:grayscale($oddBg);
$headerColor:#FFF;
$subHeaderColor:#222;
@mixin bp($point) {
    @if $point==big {
        @media (max-width: 1600px) {
            @content;
        }
    }
    @else if $point==med {
        @media (max-width: 1250px) {
            @content;
        }
    }
    @else if $point==small {
        @media (max-width: 600px) {
            @content;
        }
    }
    @else if $point==xsmall {
        @media (max-width: 320px) {
            @content;
        }
    }
}

@include bp(small) {
    .fp-controlArrow {
        &.fp-prev {
            left: 3px !important;
            @include bp(small) {
                border-width: 28px 24px 28px 0 !important;
            }
        }
        &.fp-next {
            right: 3px !important;
            @include bp(small) {
                border-width: 28px 0 28px 24px !important;
            }
        }
    }
}

.hero-unit {
    margin: 0 auto;
    max-width: 960px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    /*background-color: #eee;*/
    border-radius: 6px;
    h1 {
        font-size: 60px;
        line-height: 1;
        margin: 0;
        color: $headerColor;
        @include bp(small) {
            margin-top: 0.8em;
        }
        //text-shadow: -2px 2px 2px darken($grey,10);
    }
    span {
        margin-top: 10px;
    }
}

.bio {
    #me {
        border-radius: 10%;
        width: 25%;
        margin: 5% auto;
        box-shadow: 0 2px 7px rgba(0, 0, 0, .75);
        @include bp(small) {
            width: 40%;
            margin: 5% 0 0 0;
        }
    }
    p {
        padding: 0 5%;
        text-align: left;
        text-indent: 3em;
        @include bp(small) {
            text-align: justify;
            text-indent: 1.5em;
        }
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.scroll {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-family: "San Francisco", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    padding: 7px 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
    transition: all 1s ease;
}

.scroll:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}

.section {
    //background-image: url("../images/sbg.png");
    background-size: auto;
    background-repeat: repeat;
    transition: 1s all ease;
    &:nth-child(2n) {
        background-color: $oddBg;
        &.active {
            background-color: $evenBg;
        }
    }
    &:nth-child(2n+1) {
        background-color: $evenBg;
        &.active {
            background-color: $oddBg;
        }
    }
    .hero-unit {
        color: $headerColor;
    }
}

nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    box-sizing: border-box;
    @include bp(small) {
        width: 100%;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include bp(small) {
            justify-content: space-around;
            background-color: $oddBg;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        li {
            transition: .4s all ease;
            display: inline-flex;
            background-color: $oddBg;
            border-radius: 5px;
            margin-left: 5px;
            margin-top: 5px;
            padding: 8px;
            @include bp(small) {
                padding-top: 0px;
                padding-bottom: 0px;
                margin: 0;
            }
            &:hover {
                background-color: $evenBg;
            }
            &.active {
                a {
                    padding-bottom: 2px;
                    border-bottom: 4px solid #FFF;
                }
            }
            a {
                font-weight: 600;
                color: #FFF;
                text-decoration: none;
                border-bottom: 0px solid $evenBg;
                padding-bottom: 6px;
                transition: .4s all ease;
            }
        }
    }
}

.web-unit {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    @include bp(med) {
        width: 80%;
    }
    @include bp(small) {
        width: 100%;
        padding: 0;
    }
    figure {
        background-color: white;
        color: $subHeaderColor;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        margin: 60px auto;
        @include bp(small) {
            margin: 30px 25px;
        }
        a {
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
        /*Credit to codepen.io/reandro*/
        $barBgColor: lighten($evenBg,
        30%);
        $barHeight: 54px;
        $barColor: lighten($barBgColor,
        20%);
        $borderRadius: 3px;
        $browserBgColor:$barBgColor;
        $bFS:50px;
        $aFS:12px;
        $aP:10px;
        .browser {
            position: relative;
            display: block;
            padding-top: $barHeight;
            background: linear-gradient(180deg, $barBgColor, $barBgColor $barHeight, $browserBgColor $barHeight, $browserBgColor);
            border-radius: $borderRadius;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
            border: 2px solid $barBgColor;
            &:after,
            &:before {
                font-weight: 300;
                line-height: 1;
            }
            &:before {
                position: absolute;
                left: 5px;
                top: $barHeight/2-$bFS/2;
                content: "\00B7\00B7\00B7";
                color: $barColor;
                font-size: $bFS;
                letter-spacing: -2px;
            }
            &[href]:after {
                position: absolute;
                left: 60px;
                right: 15px;
                top: $barHeight/2 - $aP -$aFS/2;
                content: attr(href);
                padding: $aP;
                background: $barColor;
                font-size: $aFS;
                font-family: 'Verdana';
                text-align: left;
                color: darken($barBgColor, 90%);
                border-radius: 1px;
            }
            // further content styles
            font: 100 30px 'Helvetica Neue',
            'Helvetica',
            'Arial',
            sans-serif;
            padding: 30px 10px;
            color: #aaa;
            &.image {
                padding: $barHeight - 1px 0 0;
                img,
                picture {
                    display: block;
                    border-radius: 0 0 $borderRadius $borderRadius;
                }
            }
        }
        figcaption {
            padding: 20px;
            @include bp(small) {
                padding: 2.5%;
            }
            h2 {
                text-decoration: underline;
                text-align: center;
            }
            p {
                text-indent: 3em;
                max-width: 768px;
                padding: 0;
                margin: 0 auto;
                @include bp(small) {
                    text-align: left;
                    text-indent: 1.5em;
                }
            }
        }
    }
}